/* RESET */

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* UTILITIES */

.debug {
    border: 1px solid red;
}



/* BODY */

h1 {

    text-align: center;
}

.container {

    max-width: 60%;
    height: 500px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {}